.newsletter {
  text-align: center;
  padding: 100px 20px;
}

.newsletter h2 {
  font-size: 60px;
  margin-bottom: 20px;
}

.newsletter p {
  color: #666;
  margin-bottom: 30px;
}

.newsletter button {
  padding: 16px 40px;
  border: none;
  border-radius: 50px;
  background: #000;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.newsletter button:hover {
  transform: translateY(-4px);
}
@media (max-width: 768px) {
  .navbar {
    padding: 20px;
  }

  .nav-links {
    display: none;
  }

  .hero h1 {
    font-size: 42px;
  }

  .about-top,
  .about-bottom {
    flex-direction: column;
  }

  .services h2,
  .testimonials h2,
  .newsletter h2 {
    font-size: 40px;
  }

  .footer {
    flex-direction: column;
    gap: 30px;
  }
}
.newsletter button{
  transition: all 0.3s ease;
}

.newsletter button:hover{
  transform: translateY(-3px);
}